* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    color: white;
    position: relative;
    left: 450px;
    top: 80px;
    background: #418f2da3;
    padding: 50px;
    width: 30%;
    border: 1px solid rgba(169, 169, 169, 0.644);
    border-radius: 30px;
    -webkit-box-shadow: 1px 0px 15px 5px #000000;
    box-shadow: 1px 0px 15px 5px #000000;
}

form>fieldset {
    border: 0;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor {
    width: auto;
    height: auto;
    display: grid;
    grid-template: 50px 500px / 1fr;
}

.header {
    color: white;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    list-style-type: none;
    background: #418F2D;
    height: 60px;
}

.contenido {
    background: #ffffff;
    grid-row: 2 /3;
    grid-column: 1 /2;
    /* Horizontal */
    justify-items: center;
    /* Vertical */
    align-items: center;
    padding: 10px;

}

.footer {
    background: #418F2D;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

input {
    background: #ffffff;
    border-radius: 30px;
}

button {
    color: #ffffff;
    background-color: #418F2D;
    border-radius: 30px;
    padding: 5px;
}


