{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Crear Cultivo{% endblock %}</title>
    <link href="{% static 'app/css/estilocrearcultivo.css' %}" rel="stylesheet">
</head>
<body>
    
  <div class="contenedor" >

    <div class="header">
        <ul id="menu">
            <li ><a href="{% url 'app:dashboard' %}">Cultivos</a></li>
            <li ><a href="{% url 'app:crearcultivo' %}">Nuevo</a></li>
            <li ><a href="{% url 'app:perfil' %}">Perfil</a></li>
            </ul>
  </div>
  <div class="contenido">
    <br><br>
    <h2>Nuevo Cultivo</h2>
    <br><br>
    <form action="{% url 'app:crearcultivo2' %}" method="POST" id="formu">
      {% csrf_token %}
      <h2>Nombre: </h2>
      <input type="text" id="nombre1" name="nombre1">
      <br><br>
      <h2>Fecha: </h2>
      <input type="date" id="fecha" name="fecha">
      <br><br>
      <h2>Localidad: </h2>
      <input type="text" id="Localidad" name="Localidad">
      <br><br>
      <h3>Sensores: </h3>
      <label><input type="checkbox" name="sensort" id="sensort" value="1"> Temperatura</label>
      <label><input type="checkbox" name="sensorh" id="sensorh" value="1"> Humedad</label>
      <br>
      <br>
      <button type="submit">Crear</button>
    </form>
  </div>

  <div class="footer">
  </div>
        </div>
</body>
</html>