{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Dashboard{% endblock %}</title>
    <link href="{% static 'app/css/estilodashboard.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:dashboard' %}">Cultivos</a></li>
            <li ><a href="{% url 'app:crearcultivo' %}">Nuevo</a></li>
            <li ><a href="{% url 'app:perfil' %}">Perfil</a></li>
            </ul>
        </div>
          
            <div class="contenido">
              <br><br>
              <h1>Dashboard</h1> 
              <br>
              <h2>Cultivos Actuales</h2>
                <br><br>
                <table>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha creación</th>
                      <th>Localidad</th>
                      <th>Visualizar datos</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr class="fila"> 
                      <td>cultivo 1</td>
                      <td>202022</td>
                      <td>funza</td>
                      <td><a href="{% url 'app:datoscultivo' %}"  class="cr">Consultar</a></td>
                    </tr>
                    <tr class="fila"> 
                      <td>cultivo 2</td>
                      <td>202023</td>
                      <td>madrid</td>
                      <td><a href="{% url 'app:datoscultivo' %}"  class="cr">Consultar</a></td>
                    </tr>

                  </tbody>
                </table>
                        <br>
          </div>
</body>
</html>