{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Datos Cultivo{% endblock %}</title>
    <link href="{% static 'app/css/estilodashboard.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:dashboard' %}">Cultivos</a></li>
            <li ><a href="{% url 'app:crearcultivo' %}">Nuevo</a></li>
            <li ><a href="">Monitorear</a></li>
            <li ><a href="">Perfil</a></li>
            </ul>
        </div>
          
            <div class="contenido">
              <br><br>
              <h1>Datos Cultivo</h1> 
                <br><br>
                <table>
                  <thead>
                    <tr>
                      <th>Estado Temperatura</th>
                      <th>Estado Humedad</th>
                      <th>Ver Camaras</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for lista22  in listade_votaciones2%}
                    <tr class="fila"> 
                      <td>{{lista22.nombre}}</td>
                      <td>2022-1</td>
                      <td>{{lista22.fechaFinal}}</td>
                      <td><a href="{% url 'app:datoscultivo' %}"  class="cr">Consultar</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                        <br>
          </div>
</body>
</html>