{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Datos Cultivo{% endblock %}</title>
    <link href="{% static 'app/css/estilodashboard.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:dashboard' %}">Cultivos</a></li>
            <li ><a href="{% url 'app:crearcultivo' %}">Nuevo</a></li>
            <li ><a href="{% url 'app:perfil' %}">Perfil</a></li>
            </ul>
        </div>
          
            <div class="contenido">
              <br><br>
              <h1>Datos Cultivo</h1> 
              <h3>Cultivo #</h3> 
                <br><br>
                <table>
                  <thead>
                    <tr>
                      <th>Estado Temperatura</th>
                      <th>Estado Humedad</th>
                      <th>Ver Camaras</th>
                      <th>Configurar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fila">
                      {%for humedad  in sensor%}
                      <td>{{humedad.humedadactual}}</td>
                      {% endfor %}
                      {%for temperatura  in sensor%}
                      <td>{{temperatura.humedadactual}}</td>
                      {% endfor %}
                      <td><a href="{% url 'app:vercamaras' %}"  class="buton">Ver Camaras</a></td>
                      <td><a href="{% url 'app:editar' %}"  class="buton">Editar</a></td>
                    </tr>
                  </tbody>
                </table>
                        <br>
          </div>
</body>
</html>