
{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Editar datos{% endblock %}</title>
    <link href="{% static 'app/css/estiloeditar.css' %}" rel="stylesheet">
</head>
<body>
    
  <div class="contenedor" >

    <div class="header">
        <ul id="menu">
            <li ><a href="{% url 'app:dashboard' %}">Cultivos</a></li>
            <li ><a href="{% url 'app:crearcultivo' %}">Nuevo</a></li>
            <li ><a href="{% url 'app:perfil' %}">Perfil</a></li>
            </ul>
  </div>
  <div class="contenido">
    <br>
    <h2>Cultivo</h2>
    <BR>
    <h3>nombre #</h1>
    <br>
    <form action="{% url 'app:editar' %}" method="POST" id="formu">
      {% csrf_token %}
      <h2>Configuración de riego (Tiempo)</h2>
      <input type="time" name="tiempo">
      <br><br>
      <table>
        <thead>
          <tr>
            <th>Sensor</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="fila"> 
            <td>Temperatura</td>
            <td>Activo</td>
          </tr>
          <tr class="fila"> 
            <td>Humedad</td>
            <td>Activo</td>
          </tr>

        </tbody>
      </table>
      <br>
      <h2>Temperatura Max</h2>
      <input type="number" name="tmax">
      <br><br>
      <h2>Temperatura Min</h2>
      <input type="number" name="tmin">
      <br><br>
      <button type="submit">Save</button>
    </form>
  </div>

  <div class="footer">
  </div>
        </div>
</body>
</html>