{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Ingresar{% endblock %}</title>
    <link href="{% static 'app/css/estiloingresar.css' %}" rel="stylesheet">
</head>
<body>
    
  <div class="contenedor" >

    <div class="header">
      <h1>Agricultura inteligente</h1>
  </div>
  
  <div class="contenido">
    <form action="">
      <h2>Usuario: </h2>
      <input type="text" name="username">
      <br>
      <h2>Contraseña: </h2>
      <input type="password" name="password">
      <br>
      <br>
      <a class="cr" href="{% url 'app:dashboard' %}">Ingresar</a> 
      <a class="cr" href="{% url 'app:crearusuario' %}" >Registrarce</a>
    </form>
  </div>

  <div class="footer">
  </div>
        </div>
</body>
</html>