{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Perfil{% endblock %}</title>
    <link href="{% static 'app/css/estilodashboard.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:dashboard' %}">Cultivos</a></li>
            <li ><a href="{% url 'app:crearcultivo' %}">Nuevo</a></li>
            <li ><a href="{% url 'app:perfil' %}">Perfil</a></li>
            </ul>
        </div>
          
            <div class="contenido">
              <br>
              <h1>Datos</h1> 
              <br>
                <table>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th># Cultivos</th>
                      <th>Editar Datos</th>
                      <th>Eliminar Cuenta</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fila"> 
                      <td>juan meza</td>
                      <td>juanmeza@gmail</td>
                      <td></td>
                      <td><a href=""  class="cr">Editar</a></td>
                      <td><a href=""  class="cr">Eliminar</a></td>
                    </tr>   
                  </tbody>
                </table>
                        <br>
          </div>
</body>
</html>